/* Custom font styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-font {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px; /* Adjust letter spacing */
  
}


/* Add spacing to reduce gap between Header and form */
body {
  margin: 0;
  padding: 0;
}

.custom-font {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

/* Adjust spacing and alignment for form container */
.flex-grow {
  margin-top: 20px; /* Adds a small gap between header and form */
}

/* Background settings for overall aesthetic */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgba(9, 9, 9, 0.977);
}

a {
  text-decoration: none;
}

button {
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
